*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: #FEAF00;
}
.box{
     background-color: white;
     margin: 175px 483px;
     width: 475px;
     height: 550px;
     border-radius: 20px;
}
.box h2{
     font-size: 32px;
     padding-top: 44px;
     padding-left: 78.5px;
     padding-right: 66.5px;
     padding-bottom: 43px;
}
.box h4{
     font-size: 22px;
     padding-left: 194px;
     padding-right: 194px;
     padding-bottom: 9px;
}
.enter{
     padding-left: 79px;
     padding-right: 79px;
     padding-bottom: 50px;
}
.label{
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 20px;
}
.label input{
     width: 415px;
     height: 44px;
     margin-top: 10px;
     border-radius: 5px;
     border: 1px solid grey;
     text-indent: 10px;
}
.box button{
     margin:15px 30px ;
     text-align: center;
     padding:  14px 180px;
     border-radius: 4px;
     border: none;
     background-color: #FEAF00;
     color: white;
     text-decoration: none;
     font-size: 14px;
}
.box .forgot{
     margin: 10px 99px;
     font-size: 14px;
} 
.box span{
     color: #FEAF00;
}
